/* ---------fuentes -------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: 'introbold';
  src: url(../fuentes/Intro_Black_Alt.otf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'introregular';
  src: url(../fuentes/Intro_Regular_Alt.otf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'introbook';
  src: url(../fuentes/Intro_Book_Alt.otf);
  font-weight: normal;
  font-style: normal;
}

/*-------- generales ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'introregular';
}

/*......... inicio menu...........*/

header div {
  width: 100%;
  height: 104px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header div img {
  height: 90px;
  width: auto;
}

header div h1 {
  font-family: 'introbold';
  font-size: 48px;
  color: #1c8381;
  text-shadow: 1px 1px 2px #0a2e2d;
  margin: 0;
  /* Elimina márgenes predeterminados para un control mejor */
  padding: 20px;
  border-radius: 10px;
}

header nav {
  background-color: #1c8381;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s, color 0.2s;
}

header nav a:hover {
  background-color: #1c8381;
  color: white;
  border-radius: 10px;
}

.activo {
  background-color: #83811c;
}

/*.........fin menu...........*/


/*       inicio slider      */


#slider {
  width: 100%;
  max-width: none;
  margin-bottom: 24px;
}

#slider img {
  width: 320px;
  height: 340px;
  object-fit: cover;
}

section {
  max-width: 1200px;
  margin: auto;
  margin-top: 16px;
}

.filtros {
  margin: 20px auto;
  text-align: center;
}


/*........inicio DASHBOARD......*/


h2 {
  text-align: left;
}


.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.card.saldo {
  width: 100%;
  background-color: rgb(173, 247, 247);
}

.ingresos-egresos {
  display: flex;
  justify-content: space-between;
  width: 400px;
  gap: 20px;
}

.card.ingresos,
.card.egresos {
  flex: 1;
}

.card.ingresos {
  background-color: rgb(185, 214, 156);
}

.card.egresos {
  background-color: rgb(243, 163, 179);
}



.agregar2 {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center;
}

.resumen-rubros {
  width: 100%;

}

.agregar2 .resumen-rubros .table {
  border-collapse: collapse;
  margin-top: 20px;
}
.grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#grafico canvas, #rubrosChart {
  width: 500px !important;
  height: 500px !important;
}

/*........fin card......*/


.flotante {
  display: scroll;
  position: fixed;
  bottom: 320px;
  right: 0px;
}



/*.........FOOTER...........*/

footer {
  background-color: #1c8381;
  padding: 10px;
  text-align: center;
  margin-top: 56px;
}


/*.........FIN FOOTER...........*/





/*.........formulario Agregar...........*/


h2 {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  color: #202630;
  font-size: 24px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.agregar {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center;
}




h3 {
  align-self: flex-start; /* Alinea el título a la izquierda */
  margin-left: 10px; /* Añade un margen para separarlo del borde izquierdo */
  text-align: left;
}

.orden {
  width: 1000px;
  padding: 16px;
}

.formulario {
  width: 500px;
  padding: 16px;
  margin: auto;
  text-align: left;
}

form {
  width: 100%; /* Opcional: ajusta el ancho del formulario si es necesario */
  max-width: 500px; /* Limita el ancho máximo del formulario */
  margin-top: 10px; /* Añade un margen superior para separar el formulario del título */
}

form label {
  width: 72px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form input[type="password"] {
  width: 450px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="button"] {
  width: 50%;
  margin-top: 32px;
  border: none;
  border-radius: 10px;
  background-color: #1c8381;
  font-family: 'introbold';
  color: white;
  font-weight: 500;
  font-size: 25px;
  width: 300px;
  height: 40px;
}

form input[type="button"]:hover {
  border: none;
  background-color: #1c8381;
  transform: scale(1.2);
}

form select {
  width: 450px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

/*.........FIN formulario  Agregar...........*/










.formulario_edicion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


.formulario_edicion #formularioEdicion {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;

  margin-top: 16px;
}

.formulario_edicion #formularioEdicion h2 {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
  width: 10;
  color: #ff1919;
  font-size: 24px;
}



.formulario_edicion #formularioEdicion label {
  width: 72px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.formulario_edicion #formularioEdicion input[type="text"],
.formulario_edicion #formularioEdicion input[type="date"],
.formulario_edicion #formularioEdicion input[type="number"] {
  width: 450px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

.formulario_edicion #formularioEdicion input[type="submit"] {
  width: 50%;
  margin-top: 32px;
  border: none;
  border-radius: 10px;
  background-color: #1c8381;
  font-family: 'introbold';
  color: white;
  font-weight: 500;
  font-size: 25px;
  width: 150px;
  height: 40px;
}

.formulario_edicion #formularioEdicion input[type="submit"]:hover {
  border: none;
  background-color: #b392ac;
  transform: scale(1.2);
}





/*.........INICIO LISTADO...........*/
.listado {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}


.list-header, .list-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-header {
  background-color: #f4f4f4;
  font-weight: bold;
}

.list-header h4 {
  font-size: 15px;
}

.list-item h5 {
  margin: 0;
  flex: 1;
  font-size: 15px;
}

.acciones {
  display: flex;
  
}

#acciones .btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #d1b3c4;
  font-family: 'introbold';
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  /* Centrar verticalmente el texto */
  text-decoration: none;
  /* Para los enlaces */
  display: inline-block;
  /* Para los enlaces */
}

#acciones .btn:hover {
  background-color: #d1b3c4;
  transform: scale(1.2);
}

.list-item.pagado {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde oscuro */
  font-weight: bold;
}

.vencido {
  background-color: #ffd6d6;
}

.proximo-vencimiento {
  background-color: #fff7cc;
}

/* Estilos específicos para los enlaces */
#acciones a {
  text-decoration: none;
  display: inline-block;
}

#acciones a:hover {
  background-color: #b392ac;
}

/*.........Fin Listados...........*/

/*.........Inicio Listados GASTOS...........*/

/* Estilos para la tabla con id #tablaGastos */
#tablaGastos {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#tablaGastos th, #tablaGastos td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tablaGastos thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

#tablaGastos th {
  background-color: #f2f2f2;
  color: #333;
}

/* Filas alternas 
#tablaGastos tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */

/* Filas vencidas */
#tablaGastos tr.vencido {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24;
}

#tablaGastos tr.vence-hoy {
  background-color: #fff3cd; /* Amarillo claro */
    color: #856404;
}

/* Filas con próximo vencimiento */
#tablaGastos tr.proximo-vencimiento {
  background-color: #d8e74f; /* Verde claro */
  color: #435715;
}

/* Filas con gastos pagados */
#tablaGastos tr.pagado {
  background-color: #c3e6cb; /* Verde para pagado */
    color: #155724;
}

/* Estilo para las celdas de los montos */
#tablaGastos td:nth-child(5) {
  text-align: right;
  color: #333;
  font-weight: bold;
}

/* Estilo de los checkboxes */
#tablaGastos input.chkPagado {
  width: 20px;
  height: 20px;
}

/* Estilo de los botones */
#tablaGastos button.btn {
  background-color: #007bff;
  border: none;
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

#tablaGastos button.btn:hover {
  background-color: #0056b3;
}

#tablaGastos button.btn.eliminar {
  background-color: #dc3545;
}

#tablaGastos button.btn.eliminar:hover {
  background-color: #c82333;
}

#tablaGastos button.btn.modificar {
  background-color: #28a745;
}

#tablaGastos button.btn.modificar:hover {
  background-color: #218838;
}

/* Estilos para el mensaje "No se encontraron gastos" */
#tablaGastos td[colspan="9"] {
  text-align: center;
  font-style: italic;
  color: #888;
}

/* Estilos para las celdas de acciones */
#tablaGastos td:last-child {
  text-align: center;
}


/*.........Fin Listados GASTOS...........*/

/*.........Inicio Pagina Modificar...........*/

#modificar {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

#modificar form label {
  width: 72px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

#modificar .btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1c8381;
  font-family: 'introbold';
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  /* Centrar verticalmente el texto */
  text-decoration: none;
  /* Para los enlaces */
  display: inline-block;
  /* Para los enlaces */
}

#modificar .btn:hover {
  background-color: #1c8381;
  transform: scale(1.2);
}

/* Estilos específicos para los enlaces */
#modificar a {
  text-decoration: none;
  display: inline-block;
}

#modificar a:hover {
  background-color: #1c8381;
}


#btn-cancelar {
  margin-top: 20px;
}

/*..........Fin Modificar ...............*/


/*..........INICIO LOGIN REGISTRO contraseña...............*/


#login-registro {
  width: 800px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

#login-registro form label {
  width: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}



#login-registro .btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1c8381;
  font-family: 'introbold';
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  /* Centrar verticalmente el texto */
  text-decoration: none;
  /* Para los enlaces */
  display: inline-block;
  /* Para los enlaces */
}

#login-registro .btn:hover {
  background-color: #1c8381;
  transform: scale(1.2);
}

/* Estilos específicos para los enlaces */
#login-registro a {
  text-decoration: none;
  display: inline-block;
}

#login-registro a:hover {
  background-color: #b392ac;
}


#btn-extra {
  margin-top: 20px;
}


/* contraseña */

#form-password {
  width: 800px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

#form-password form label {
  width: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}



#form-password .btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1c8381;
  font-family: 'introbold';
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  /* Centrar verticalmente el texto */
  text-decoration: none;
  /* Para los enlaces */
  display: inline-block;
  /* Para los enlaces */
}

#form-password .btn:hover {
  background-color: #1c8381;
  transform: scale(1.2);
}

/* Estilos específicos para los enlaces */
#form-password a {
  text-decoration: none;
  display: inline-block;
}

#form-password a:hover {
  background-color: #b392ac;
}


/*..........FIN LOGIN REGISTRO contraseña.............*/


/*..........INICIO ESTADISTICAS.............*/

.estadisticas {
  width: 1000px;
  padding: 16px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

#resultados {
  display: block;
  background: white;
  padding: 20px;
  width: 500px;
  /*border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
  text-align: left;
  /*width: calc(50% - 10px);*/ /* Ajusta el ancho para dos tarjetas en una fila */
}


/*..........FIN ESTADISTICAS.............*/


/*..........responsive.............*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
  #contacto {
    width: auto;
    padding: 16px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .tablagastos th,
  .tablagastos td {
      font-size: 0.8rem;
      padding: 6px;
  }

  .tablagastos {
      font-size: 0.85rem;
  }
}



@media screen and (max-width: 767px) and (min-width: 1px) {



  header {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  header div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header div img {
    margin-bottom: 10px;
    /* Añade un margen inferior entre el logo y el título */
  }

  header div h1 {
    font-size: 36px;
    /* Reduce el tamaño del título para que se ajuste mejor en pantallas pequeñas */
  }

  header nav {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav a {
    padding: 10px;
    /* Ajusta el espaciado de los enlaces */
    width: 100%;
    /* Asegura que los enlaces ocupen todo el ancho disponible */
    text-align: left;
    /* Centra el texto */
  }

  #contacto {
    width: auto;
    padding: 16px;
    margin: auto;
  }

  #img_contacto img {
    display: none;
  }

  #login-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #login-registro {
    width: 100%;
    padding: 16px;
    margin: auto;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
  }
  label {
    width: 72px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
  
  #login-registro form label {
    width: 72px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
  #login-registro form input[type="text"],
  #login-registro form input[type="date"],
  #login-registro form input[type="number"],
  #login-registro form input[type="password"] {
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
  }
  
  #login-registro form button[type="button"] {
    width: 100%;
    margin-top: 32px;
    border: none;
    border-radius: 10px;
    background-color: #1c8381; }


}

